[submodule "config-server"]
	path = config-server
	url = https://github.com/llsilvas/config-server.git
[submodule "api-gateway"]
	path = api-gateway
	url = https://github.com/llsilvas/api-gateway.git
[submodule "auth-service"]
	path = auth-service
	url = https://github.com/llsilvas/auth-service.git
[submodule "event-service"]
	path = event-service
	url = https://github.com/llsilvas/event-service.git
